# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
# Objeto de build do Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter_dependencies
# Arquivos de configuração do IntelliJ
.idea/
*.iml
# Arquivos de configuração do VS Code
.vscode/
# Arquivos de log
*.log
# Arquivos de cache
pubspec.lock
# Arquivos de sistema
.DS_Store
*.swp
# Arquivos de saída
outputs/
# Arquivos gerados
*.g.dart
# Testes gerados
coverage/
# Outros
.svn/
*.tmp 